*{
    margin: 0;
    padding: 0;
}

.pink-color {
    color: #F16D7F;
}

.container {
    width: 1140px;
    margin: 0 auto;
}

.header {
    background: #222222;
}

.header__bar {
    display: flex;
    justify-content: space-between;
}

.header__left {
    display: flex;
    list-style: none;
}

.left-item {
    margin-left: 41px;
    padding-top: 26px;
    padding-bottom: 20px;
}

.left-item:first-of-type {
    padding: 18px 0;
}

.header__right {
    display: flex;
    list-style: none;
}

.right-item {
    padding: 26px 16px 20px;
}

.right-item:first-of-type {
    padding-top: 30px;
}

.right-item:last-of-type {
    padding-right: 0;
}

.menu-button {
    position: relative;
}

.menu {
    position: absolute;
    background: #FFFFFF;
    width: 232px;
    top: 79px;
    right: 0;
    left: auto;
    display: none;
}

.right-item:hover .menu {
    display: block;
}

.menu-block:last-of-type {
    padding-bottom: 20px;
}

.menu-block-title {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    padding-top: 20px;
    padding-left: 33px;
    text-transform: uppercase;
}

.menu-block-item {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    display: block;
    text-decoration: none;
    padding-top: 8px;
    padding-left: 55px;
}

.menu-block-item:hover {
    color: #F16D7F;
}

.top {
    background: #F1E4E6;
    height: 674px;
}

.top__content {
    display: flex;
    justify-content: space-between;
}

.top__img {
    margin: 0 -200px;
    height: 674px;
    flex-grow: 0;
}

.top__slogan {
    align-self: center;
    padding-right: 100px;
    border-left: 12px solid #F16D7F;

}

.slogan__text {
    padding-left: 16px;
}

.top__slogan-top {
    font-family: 'Lato';
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.top__slogan-bottom {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.special-offers {
    margin-top: 65px;
}

.offers__top {
    display: flex;
    justify-content: space-between;
}

.offers__top-item {
    height: 260px;
    width: 360px;
    position: relative;
    text-decoration: none;
}

.offers__bottom {
    margin-top: 30px;
}

.offers__img {
    filter: brightness(40%);
}

.top-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 105px;
    text-align: center;
    text-transform: uppercase;
    width: 360px;
}

.offers__bottom-item {
    display: block;
    width: 1140px;
    position: relative;
}

.bottom-item-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    text-align: center;
    text-transform: uppercase;
    top: 65px;
    width: 1140px;
}

.item-text-top {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
}

.item-text-bottom {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
}

.offers__top-item:hover .item-text-top {
    color: #F16D7F;
}

.offers__top-item:hover .item-text-bottom {
    color: #FFFFFF;
}

.offers__bottom-item:hover .item-text-top {
    color: #F16D7F;
}

.offers__bottom-item:hover .item-text-bottom {
    color: #FFFFFF;
}

.featured {
    padding-bottom: 96px;
}

.featured__title {
    font-family: 'Lato';
    text-align: center;
    margin-top: 96px;
    margin-bottom: 48px;
}

.featured__header {
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    color: #222222;
    margin-bottom: 6px;
}

.featured__txt {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #9F9F9F;
}

.featured__products-board {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.product-item {
    position: relative;
    width: 360px;
    background: #F8F8F8;
    margin-bottom: 30px;
}

.item-link {
    display: block;
    text-decoration: none;
}

.item-img {
    width: 100%;
}

.item-txt {
    font-family: 'Lato';
    padding: 25px 18px 20px;
}

.item-name {
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    text-transform: uppercase;
}

.item-description {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    padding-top: 12px;
}

.item-price {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    padding-top: 18px;
}

.cart-box {
    display: none;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 188px;
    pointer-events: none;
}

.cart-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    padding: 11px 13px;
    border: 1px solid #FFFFFF;
    pointer-events: all;
}

.cart-link-txt {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    color: #FFFFFF;
    margin-left: 11px;
}

.product-item:hover .item-img {
    filter: brightness(40%);
}

.product-item:hover .cart-box {
    display: flex;
}

.cart-link:hover {
    box-shadow: 0 0 10px #fff;
}

.button-flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.browse-button {
    background: #FFFFFF;
    border: 1px solid #FF6A6A;
}

.button-txt {
    padding: 14px 38px;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
}

.browse-button:hover {
    background: #F16D7F;
    border: 1px solid transparent;
}

.browse-button:hover .button-txt {
    color: #FFFFFF;
}

.bottom {
    background: #222224;
}

.bottom__content {
    display: flex;
    justify-content: space-between;
}

.bottom__block {
    font-family: 'Lato';
    text-align: center;
    color: #FBFBFB;
    padding-top: 103px;
    padding-bottom: 103px;
    margin-right: 30px;
    flex-grow: 1;
}

.bottom__block:last-of-type {
    margin-right: 0;
}

.bottom__block-title {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    padding-top: 20px;
    padding-bottom: 16px;
}

.bottom__block-txt {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
}

.footer {

}

.footer__top {
    background: url("img/footer-img.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
}

.footer__top-right {
    padding-top: 150px;
    padding-bottom: 156px;
}

.footer__bottom {
    background: #222224;
}

.footer__bottom-content {
    padding-top: 30px;
    padding-bottom: 30px;
}

.footer-copy {
    font-family: 'Lato';
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FBFBFB;

}